<% if @name %>
<h1>My name is <%= @name %></h1>
<% end %>

<div style='border: 10px dashed red'>
  <img src='https://upload.wikimedia.org/wikipedia/commons/thumb/a/ad/British_blue_close_up.jpg/220px-British_blue_close_up.jpg'>
</div>
